<div class='mt-4'>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên Khóa Học</th>
                <th scope='col'>Trình độ</th>
                <th scope='col' colspan='4'>Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td><a href='#' class='btn btn-link btn-restore'  data-bs-id='{{this._id}}' >Khôi phục</a></td>
                    <td><a
                            href=''
                            class='btn btn-link'
                            data-bs-toggle='modal'
                            data-bs-target='#exampleModal'
                            data-bs-id='{{this._id}}'
                        >Xóa vĩnh viễn</a></td>
                </tr>
            {{else}}
                <td>Thùng rác trống.<a href='/me/stored/courses'>Danh sách khóa học</a></td>
            {{/each}}
        </tbody>
    </table>
</div>
<div
    class='modal fade'
    id='exampleModal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title' id='exampleModalLabel'>Xóa khóa học?</h5>
                <button
                    type='button'
                    class='btn-close'
                    data-bs-dismiss='modal'
                    aria-label='Close'
                ></button>
            </div>
            <div class='modal-body'>
                Thao tác này sẽ không thể khôi phục. Bạn chắc chắn muỗn xóa vĩnh viễn?
            </div>
            <div class='modal-footer'>
                <button
                    type='button'
                    class='btn btn-secondary'
                    data-bs-dismiss='modal'
                >Không</button>
                <button id='btn-delete-course' type='button' class='btn btn-danger'>Xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>
<form method='POST' id='formRealDelete'></form>
<form method='POST' id='formRestore'></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var btnRestore = $('.btn-restore')
        const exampleModal = document.getElementById('exampleModal') 
        let courseId; 
        const formRestore = document.getElementById('formRestore') 
        const formRealDelete = document.getElementById('formRealDelete') 
        exampleModal.addEventListener('show.bs.modal', function(event) 
            {
                // bat ra o modal
                const button = event.relatedTarget 
                courseId = button.getAttribute('data-bs-id') 
            })
            //xoa vinh vien
                const btnDeleteCourse = document.getElementById('btn-delete-course') 
                btnDeleteCourse.onclick = function(){ 
                formRealDelete.action = '/courses/'+ courseId +'/force?_method=DELETE' // khong viết ở thẳng trên cái form delete vì nó đâu có trong vòng for để lấy course.id đâu 
                formRealDelete.submit()
                }
                // khoi phuc
                btnRestore.click(function(){
                courseId =  $(this).data('bs-id') 
                formRestore.action = '/courses/'+ courseId +'/restore?_method=PATCH' 
                formRestore.submit()
                })
       
    });
  

</script>